@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,250,196);
background: linear-gradient(360deg, rgba(255,250,196,1) 0%, rgba(255,255,255,1) 100%);
height: 100%;
 background: rgb(255,250,196); 
background: linear-gradient(360deg, rgba(255,250,196,1) 0%, rgba(255,255,255,1) 100%); 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mainPage{
  display: flex;
  padding: 0px 30px;
  justify-content: space-center;
}

.logo-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 20vw;
}



.medal{
   width: 75%;
}

.font{
  font-weight: 500;
}

.horizontalLine{
  width: 94%;
  height: 2px;
  background-color: red;

}
.verticalLine{
  border-left: 2px solid rgb(217, 0, 0);
  height: 14px;
  display: inline-flex;

}

/* mobile  */
 @media (max-width:550px) {
  .logo{
    width: 55vw;
  } 
  .mainPage{
    display: flex;
    flex-direction: column;
  padding: 0px 30px;
  justify-content: space-center;
  padding: 0 ;
  }
  .medal{
    width: 50vw;
  }
 
}


 /* ipad tablet  */
 @media (min-width:550px) {
  .logo{
    width: 40vw;
  } 
  .mainPage{
    display: flex;
    flex-direction: row;
  padding: 0px 30px;
  justify-content: space-center;
  padding: 0 ;
  }
  .medal{
    width: 45vw;
  }
  .main-content{
    width: 60vw;

  }
 
}




/* laptop   */
 @media (min-width:769px) {
  .logo{
    width: 28vw;
  } 
  .mainPage{
    display: flex;
    flex-direction: row;
  padding: 0px 30px;
  justify-content: space-center;
  padding: 0 ;
  }
  .medal{
    width: 50vw;
  }
  .main-content{
    width: 80vw;

  }

}




/* laptop   */
 @media (min-width:1025px) {
  .logo{
    width: 20vw;
  } 
  .mainPage{
    display: flex;
    flex-direction: row;
  padding: 0px 30px;
  justify-content: space-center;
  padding: 0 ;
  }
  .medal{
    width: 30vw;
  }
  .main-content{
    width: 70vw;

  }
 
}






